.editable-popup {
  max-width: none !important;
}

.editable-popup .btn {
  vertical-align: top;
}

.editable-popup .help-block {
  margin: 0px;
}

.editable-popup .has-error .help-block {
  margin-top: 5px
}